{% extends "Layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="https://i.pinimg.com/564x/84/77/9a/84779a21fce0138b96dac99610d795ff.jpg" class="w-100" >
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0 text">Who are we?</h5>
    <p class="text">We offer psychosocial support services.</p>
    <a href="Aboutus.html" class="stretched-link text">Read about us</a>
  </div>
</div>
{% endblock %}